* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "aesthetic";
    src: url(assets/Aesthetic-Regular.ttf);
}

body {
    background-color: #B0433E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

/*NAVBAR*/
nav {
    display: flex;
    width: 100vw;
    background-color: rgb(140, 20, 20);
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    margin-right:10px;
}

nav ul li {
    margin: 0px 20px;
    font-size: 17px;
}

.btn {
    color: black;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    /* border-radius: 25px; */
    padding: 8px 15px;
    margin-right: 20px;
    transition: scale 0.3s;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    scale: 1.05;
}

.btn:active {
    background-color: #e5e5e5;
}

nav ul li:hover {
    text-decoration: underline;
    animation: focus 1s ease-in-out;
    cursor: pointer;
}

nav img {
    height: 80px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "aesthetic";
    margin-left: 20px;
    margin-top: 15px;
}

nav div h1 {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 35px;
}



/*JUMBOTRON*/
.hero-section {
    background-image: url(assets/stacked-waves-haikei.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid rgb(140, 20, 20);
}

.hero {
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    
}

section {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    width: 50%;
    height: 65%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 60px;
    
}

section div span h1 {
    margin: 0px 0px;
    font-size: 40px;
}

section div span p {
    font-size: 20px;
    margin-top: 8px;
}

.copertine {
    margin-top: 10px;
    justify-content: space-around;
    display: flex;
    
   
}

main{
    width: 100%;
    height: 500px;
}

main div img{
    width: 150px;
    height: 225px;
    margin-right:8px;
    margin-left: 8px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer{
    background-color: black;
    color: white;
    /* margin-top: 20px;
    margin-bottom: 0px; */
    height:250px;
}

footer .row{
    width: 100%;
    height: 55%;
    border: 1px solid white;

}

#footerLogo {
    height: 30%;
}

#copyright {
    height: 15%;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer div img{
    height: 50px;
    width: auto;
    /* margin-top: 3px; */
    cursor: pointer;
    
}

footer div h1{
    font-family: "aesthetic";
    font-size: 20px;
}

footer div span a{
    text-decoration: none;
    font-family: "aesthetic";
    font-size: 20px;
    color: white;
}