* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "aesthetic";
    src: url(assets/Aesthetic-Regular.ttf);
}

body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow-x: hidden;
        background-image: url(assets/stacked-waves-haikei.svg);
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
}

nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    margin-right:10px;
}

nav ul li a {
    margin: 0px 20px;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
}

.btn {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 15px;
    margin-right: 20px;
    transition: scale 0.3s;
}

.btn a {
    color: black;
}

.btn a:hover {
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    scale: 1.05;
}

nav ul li a:hover {
    text-decoration: underline;
    animation: focus 1s ease-in-out;
    cursor: pointer;
}

.btn:active {
    background-color: #e5e5e5;
}

nav img {
    height: 80px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "aesthetic";
    margin-left: 20px;
    padding: 5px;
}

nav div h1 a {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 35px;
    font-family: "aesthetic";
    text-decoration: none;
    color: #ffffff;
}

/*JUMBOTRON*/
.hero-section {
    padding: 200px;
}

.hero {
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

section {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

section div span {
    padding: 40px;
}

section div span h1 {
    margin: 0px 0px;
    font-size: 40px;
}

section div span p {
    font-size: 20px;
    margin-top: 8px;
}


/*SEZIONE DELLE COPERTINE*/
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  main h1 {
    color: #ffffff;
    padding: 20px;
  }
  
  .slideshow-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    transition: transform 0.3s ease;

  }
  
  .slide {
    flex: 0 0 33.33%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
    width: 10px;
    height: auto;
  }
  
  .slide.hidden {
    opacity: 0;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
  }

  .button-container {
    margin-bottom: 50px;
  }
  
  button {
    margin: 10px;
    width: 40px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: bold;
  }

/* Footer */
footer {
    background-color: rgb(20, 20, 20);
    color: white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .row{
    width: 100%;
    height: 55%;
    padding: 15px 0px;
}

#footerLogo {
    height: 30%;
}

#hr {
    width: 80%;
}

hr {
    width: 100%;
}

#copyright {
    height: 15%;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer div img{
    height: 50px;
    width: auto;
    cursor: pointer;
    
}

footer div h1{
    font-size: 20px;
    font-family: "aesthetic";
}

footer div span {
    text-align: center;
}

footer div span h2{
    padding: 10px 0px;
}

footer div span a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
}

footer div span a:hover{
    text-decoration: underline;
}