* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "aesthetic";
    src: url(assets/Aesthetic-Regular.ttf);
}

body {
    background-color: rgb(150, 229, 229);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*NAVBAR*/
nav {
    display: flex;
    width: 100vw;
    background-color: darkcyan;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

nav ul li {
    margin: 0px 20px;
    font-size: 17px;
}

.btn {
    color: black;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 25px;
    padding: 8px 15px;
    margin-right: 20px;
    transition: scale 0.3s;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    scale: 1.03;
}

.btn:active {
    background-color: #e5e5e5;
}

nav ul li:hover {
    text-decoration: underline;
    animation: focus 1s ease-in-out;
    cursor: pointer;
}

nav img {
    height: 80px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "aesthetic";
}

nav div h1 {
    cursor: pointer;
}

/*JUMBOTRON*/
section {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div {
    width: 50%;
    height: 80%;
    background-color: darkcyan;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

section div span h1 {
    margin: 30px 0px;
    font-size: 45px;
}

section div span p {
    font-size: 20px;
}