* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "aesthetic";
    src: url(../assets/Aesthetic-Regular.ttf);
}

body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow-x: hidden;
        background-image: url(../assets/stacked-waves-haikei.svg);
        background-position: center;
        background-size: cover;
        background-repeat: repeat;
}

.background-opacity {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*NAVBAR*/
nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
    margin-right:10px;
}

nav ul li a {
    margin: 0px 20px;
    font-size: 17px;
    text-decoration: none;
    color: #ffffff;
}

.btn {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 15px;
    margin-right: 20px;
    transition: scale 0.3s;
}

.btn a {
    color: black;
}

.btn a:hover {
    text-decoration: none;
}

.btn:hover {
    text-decoration: none;
    cursor: pointer;
    scale: 1.05;
}

nav ul li a:hover {
    text-decoration: underline;
    animation: focus 1s ease-in-out;
    cursor: pointer;
}

.btn:active {
    background-color: #e5e5e5;
}

nav img {
    height: 80px;
    width: auto;
    margin-top: 3px;
    cursor: pointer;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: "aesthetic";
    margin-left: 20px;
    padding: 5px;
}

nav div h1 a {
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
    font-size: 35px;
    font-family: "aesthetic";
    text-decoration: none;
    color: #ffffff;
}

/*MAIN*/
main {
    width: 100%;
    height: 70vh;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
}

.box {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h2 {
    color: white;
    cursor: default;
}

.dati-utente {
    cursor: default;
    background-color: #ffffff;
    height: 60px;
    width: 200px;
    margin: 15px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h4 {
    color: #ffffff;
}

h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*FOOTER*/
footer {
    background-color: rgb(20, 20, 20);
    color: white;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .row{
    width: 100%;
    height: 55%;
    padding: 15px 0px;
}

#footerLogo {
    height: 30%;
}

#hr {
    width: 80%;
}

hr {
    width: 100%;
}

#copyright {
    height: 15%;
}

footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer div img{
    height: 50px;
    width: auto;
    cursor: pointer;
    
}

footer div h1{
    font-size: 20px;
    font-family: "aesthetic";
}

footer div span {
    text-align: center;
}

footer div span h2{
    padding: 10px 0px;
}

footer div span a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: 0px 10px;
}

footer div span a:hover{
    text-decoration: underline;
}